.card {
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .input {
    height: 150px;
    margin-bottom: 20px;
    resize: 'none';
  }

  .space {
    margin-bottom: 10px;
  }
  
  .text {
    font-size: medium;
  }

  .button {
    margin-top: 10px;
  }

  .spin {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* 半透明背景 */
    z-index: 1;
  }